/* src/index.css */

/* Optional custom styles */
body {
  background-color: #f8f9fa;
}
/* src/index.css */

.custom-hover:hover {
  background-color: rgba(255, 255, 255, 0.2); /* light transparent hover */
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}
